# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
build/
dist/
.vite
.vscode/
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.Python
env/
venv/
*.sqlite3

# Jupyter and Notebooks
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints
notebooks/*checkpoint.ipynb

# IDE and Editor Files
.idea/
.vscode/
*.iml

# OS Files
Thumbs.db
.DS_Store
*.swp

